.subheading p {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-family: var(--font-base);
}

.subheading img {
    width: 45px;
}

@media screen and (max-width:650px) {
    .subheading p {
        font-size: 21px;
    }
}